### Pandas (Data Analyst Tool)

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.3.3'

In [29]:
weightloss=pd.read_csv(filepath_or_buffer="data.csv")

In [30]:
weightloss

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [31]:
sample=pd.read_csv("sample-1.tsv",sep="\t")

In [32]:
sample

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,2022,Create more with themes Go to Format >> Theme
0,NaN,JANUARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FEBRUARY,...,MARCH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,S,M,T,W,T,F,S,NaN,S,...,S,M,T,W,T,F,S,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,...,NaN,NaN,1,2,3,4,5,NaN,NaN,NaN
3,NaN,2,3,4,5,6,7,8,NaN,6,...,6,7,8,9,10,11,12,NaN,NaN,NaN
4,NaN,9,10,11,12,13,14,15,NaN,13,...,13,14,15,16,17,18,19,NaN,NaN,NaN
5,NaN,16,17,18,19,20,21,22,NaN,20,...,20,21,22,23,24,25,26,NaN,NaN,NaN
6,NaN,23,24,25,26,27,28,29,NaN,27,...,27,28,29,30,31,NaN,NaN,NaN,NaN,NaN
7,NaN,30,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,APRIL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MAY,...,JUNE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,S,M,T,W,T,F,S,NaN,S,...,S,M,T,W,T,F,S,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,1,2,NaN,1,...,NaN,NaN,NaN,1,2,3,4,NaN,NaN,NaN
12,NaN,3,4,5,6,7,8,9,NaN,8,...,5,6,7,8,9,10,11,NaN,NaN,NaN
13,NaN,10,11,12,13,14,15,16,NaN,15,...,12,13,14,15,16,17,18,NaN,NaN,NaN
14,NaN,17,18,19,20,21,22,23,NaN,22,...,19,20,21,22,23,24,25,NaN,NaN,NaN
15,NaN,24,25,26,27,28,29,30,NaN,29,...,26,27,28,29,30,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,JULY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AUGUST,...,SEPTEMBER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,S,M,T,W,T,F,S,NaN,S,...,S,M,T,W,T,F,S,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,1,2,NaN,NaN,...,NaN,NaN,NaN,NaN,1,2,3,NaN,NaN,NaN
21,NaN,3,4,5,6,7,8,9,NaN,7,...,4,5,6,7,8,9,10,NaN,NaN,NaN
22,NaN,10,11,12,13,14,15,16,NaN,14,...,11,12,13,14,15,16,17,NaN,NaN,NaN
23,NaN,17,18,19,20,21,22,23,NaN,21,...,18,19,20,21,22,23,24,NaN,NaN,NaN
24,NaN,24,25,26,27,28,29,30,NaN,28,...,25,26,27,28,29,30,NaN,NaN,NaN,NaN
25,NaN,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,OCTOBER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NOVEMBER,...,DECEMBER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,S,M,T,W,T,F,S,NaN,S,...,S,M,T,W,T,F,S,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,...,NaN,NaN,NaN,NaN,1,2,3,NaN,NaN,NaN
30,NaN,2,3,4,5,6,7,8,NaN,6,...,4,5,6,7,8,9,10,NaN,NaN,NaN
31,NaN,9,10,11,12,13,14,15,NaN,13,...,11,12,13,14,15,16,17,NaN,NaN,NaN
32,NaN,16,17,18,19,20,21,22,NaN,20,...,18,19,20,21,22,23,24,NaN,NaN,NaN
33,NaN,23,24,25,26,27,28,29,NaN,27,...,25,26,27,28,29,30,31,NaN,NaN,NaN
34,NaN,30,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
sample_1=pd.read_table("sample-1.tsv")

In [34]:
sample_1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,2022,Create more with themes Go to Format >> Theme
0,NaN,JANUARY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FEBRUARY,...,MARCH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,S,M,T,W,T,F,S,NaN,S,...,S,M,T,W,T,F,S,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,NaN,...,NaN,NaN,1,2,3,4,5,NaN,NaN,NaN
3,NaN,2,3,4,5,6,7,8,NaN,6,...,6,7,8,9,10,11,12,NaN,NaN,NaN
4,NaN,9,10,11,12,13,14,15,NaN,13,...,13,14,15,16,17,18,19,NaN,NaN,NaN

In [35]:
#Insights and the Meaningful Insights

#### Initial Analysis on Data

In [36]:
weightloss.shape

(169, 4)

##### Terminalogy Alert
* Rows    - Observation/Record
* Columns - Functions/Parameters

In [37]:
sample_1.isnull().sum() #Chain of functions

Unnamed: 0                                                      35
Unnamed: 1                                                       8
Unnamed: 2                                                      13
Unnamed: 3                                                      15
Unnamed: 4                                                      15
Unnamed: 5                                                      15
Unnamed: 6                                                      13
Unnamed: 7                                                      11
Unnamed: 8                                                      35
Unnamed: 9                                                      10
Unnamed: 10                                                     13
Unnamed: 11                                                     12
Unnamed: 12                                                     13
Unnamed: 13                                                     15
Unnamed: 14                                                     15
Unnamed: 15                                                     15
Unnamed: 16                                                     35
Unnamed: 17                                                     11
Unnamed: 18                                                     15
Unnamed: 19                                                     14
Unnamed: 20                                                     13
Unnamed: 21                                                     11
Unnamed: 22                                                     13
Unnamed: 23                                                     14
Unnamed: 24                                                     35
2022                                                            35
Create more with themes              Go to  Format  >> Theme    35
dtype: int64

In [40]:
weightloss.isnull().sum()

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

In [41]:
weightloss.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [42]:
sample_1.describe()

,Unnamed: 0,Unnamed: 8,Unnamed: 16,Unnamed: 24,2022,Create more with themes Go to Format >> Theme
count,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
sample_1.describe(include='all')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,2022,Create more with themes Go to Format >> Theme
count,0.0,27,22,20,20,20,22,24,0.0,25,...,24,20,21,22,24,22,21,0.0,0.0,0.0
unique,NaN,15,10,9,9,9,10,11,NaN,18,...,17,13,14,15,16,14,14,NaN,NaN,NaN
top,NaN,S,M,T,W,T,F,S,NaN,S,...,S,M,T,W,T,F,S,NaN,NaN,NaN
freq,NaN,4,4,4,4,4,4,4,NaN,4,...,4,4,4,4,4,4,4,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
sample_1.dtypes

Unnamed: 0                                                      float64
Unnamed: 1                                                       object
Unnamed: 2                                                       object
Unnamed: 3                                                       object
Unnamed: 4                                                       object
Unnamed: 5                                                       object
Unnamed: 6                                                       object
Unnamed: 7                                                       object
Unnamed: 8                                                      float64
Unnamed: 9                                                       object
Unnamed: 10                                                      object
Unnamed: 11                                                      object
Unnamed: 12                                                      object
Unnamed: 13                                                      object
Unnamed: 14                                                      object
Unnamed: 15                                                      object
Unnamed: 16                                                     float64
Unnamed: 17                                                      object
Unnamed: 18                                                      object
Unnamed: 19                                                      object
Unnamed: 20                                                      object
Unnamed: 21                                                      object
Unnamed: 22                                                      object
Unnamed: 23                                                      object
Unnamed: 24                                                     float64
2022                                                            float64
Create more with themes              Go to  Format  >> Theme    float64
dtype: object

In [45]:
weightloss.dtypes

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [46]:
 weightloss

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

#### Finding the Items Sold in Restaurant

In [51]:
hotels = pd.read_table("data.tsv.txt")
hotels

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [52]:
hotels.nunique()

order_id              1834
quantity                 9
item_name               50
choice_description    1043
item_price              78
dtype: int64

In [59]:
print(hotels["item_name"].unique())

['Chips and Fresh Tomato Salsa' 'Izze' 'Nantucket Nectar'
 'Chips and Tomatillo-Green Chili Salsa' 'Chicken Bowl' 'Side of Chips'
 'Steak Burrito' 'Steak Soft Tacos' 'Chips and Guacamole'
 'Chicken Crispy Tacos' 'Chicken Soft Tacos' 'Chicken Burrito'
 'Canned Soda' 'Barbacoa Burrito' 'Carnitas Burrito' 'Carnitas Bowl'
 'Bottled Water' 'Chips and Tomatillo Green Chili Salsa' 'Barbacoa Bowl'
 'Chips' 'Chicken Salad Bowl' 'Steak Bowl' 'Barbacoa Soft Tacos'
 'Veggie Burrito' 'Veggie Bowl' 'Steak Crispy Tacos'
 'Chips and Tomatillo Red Chili Salsa' 'Barbacoa Crispy Tacos'
 'Veggie Salad Bowl' 'Chips and Roasted Chili-Corn Salsa'
 'Chips and Roasted Chili Corn Salsa' 'Carnitas Soft Tacos'
 'Chicken Salad' 'Canned Soft Drink' 'Steak Salad Bowl'
 '6 Pack Soft Drink' 'Chips and Tomatillo-Red Chili Salsa' 'Bowl'
 'Burrito' 'Crispy Tacos' 'Carnitas Crispy Tacos' 'Steak Salad'
 'Chips and Mild Fresh Tomato Salsa' 'Veggie Soft Tacos'
 'Carnitas Salad Bowl' 'Barbacoa Salad Bowl' 'Salad' 'Veggie Crispy Tacos'
 'Veggie Salad' 'Carnitas Salad']

#### Finding the least and most sold item

In [61]:
print(hotels["item_name"].unique())

['Chips and Fresh Tomato Salsa' 'Izze' 'Nantucket Nectar'
 'Chips and Tomatillo-Green Chili Salsa' 'Chicken Bowl' 'Side of Chips'
 'Steak Burrito' 'Steak Soft Tacos' 'Chips and Guacamole'
 'Chicken Crispy Tacos' 'Chicken Soft Tacos' 'Chicken Burrito'
 'Canned Soda' 'Barbacoa Burrito' 'Carnitas Burrito' 'Carnitas Bowl'
 'Bottled Water' 'Chips and Tomatillo Green Chili Salsa' 'Barbacoa Bowl'
 'Chips' 'Chicken Salad Bowl' 'Steak Bowl' 'Barbacoa Soft Tacos'
 'Veggie Burrito' 'Veggie Bowl' 'Steak Crispy Tacos'
 'Chips and Tomatillo Red Chili Salsa' 'Barbacoa Crispy Tacos'
 'Veggie Salad Bowl' 'Chips and Roasted Chili-Corn Salsa'
 'Chips and Roasted Chili Corn Salsa' 'Carnitas Soft Tacos'
 'Chicken Salad' 'Canned Soft Drink' 'Steak Salad Bowl'
 '6 Pack Soft Drink' 'Chips and Tomatillo-Red Chili Salsa' 'Bowl'
 'Burrito' 'Crispy Tacos' 'Carnitas Crispy Tacos' 'Steak Salad'
 'Chips and Mild Fresh Tomato Salsa' 'Veggie Soft Tacos'
 'Carnitas Salad Bowl' 'Barbacoa Salad Bowl' 'Salad' 'Veggie Crispy Tacos'
 'Veggie Salad' 'Carnitas Salad']

In [68]:
order=hotels.groupby(by='item_name')['quantity'].sum() #chain of methods

In [72]:
top=order.sort_values(ascending=False)

In [73]:
top.head()

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Steak Burrito          386
Canned Soft Drink      351
Name: quantity, dtype: int64

#### Finding Least Values

In [74]:
top=order.sort_values().head()

In [75]:
top.head()

item_name
Carnitas Salad                       1
Chips and Mild Fresh Tomato Salsa    1
Veggie Crispy Tacos                  1
Crispy Tacos                         2
Salad                                2
Name: quantity, dtype: int64

#### Data Cleaning

In [76]:
hotels

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [77]:
hotels.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [79]:
order_price=hotels["item_price"]

In [84]:
order_price.str.replace('$','').astype(float)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [85]:
hotels["item_price"] = order_price.str.replace('$','').astype(float)

In [86]:
hotels

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [87]:
hotels.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [89]:
hotels.describe()

          order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     7.464336
std     528.890796     0.410186     4.245557
min       1.000000     1.000000     1.090000
25%     477.250000     1.000000     3.390000
50%     926.000000     1.000000     8.750000
75%    1393.000000     1.000000     9.250000
max    1834.000000    15.000000    44.250000

#### Tasks

In [112]:
final=hotels.groupby("item_name")["item_price"].sum()

In [114]:
final.sort_values(ascending=False).head()

item_name
Chicken Bowl           7342.73
Chicken Burrito        5575.82
Steak Burrito          3851.43
Steak Bowl             2260.19
Chips and Guacamole    2201.04
Name: item_price, dtype: float64

In [115]:
final.sort_values().head()

item_name
Chips and Mild Fresh Tomato Salsa     3.00
Veggie Crispy Tacos                   8.49
Carnitas Salad                        8.99
Crispy Tacos                         14.80
Salad                                14.80
Name: item_price, dtype: float64

#### Pandas DataStructure
- 1D - Series
- 2D - Data Frame

In [129]:
pd.Series(data={"Name":["Maths","Science"],"Hendry":[40,80],"Albert":[80,70]})

Name      [Maths, Science]
Hendry            [40, 80]
Albert            [80, 70]
dtype: object

In [121]:
pd.DataFrame(data={"Name":["Hendry","Albert","George","Edwin","Lawrence","Louise"],"Maths":[80,70,60,55,40,50],"Science":[75,67,89,50,76,80]})

       Name  Maths  Science
0    Hendry     80       75
1    Albert     70       67
2    George     60       89
3     Edwin     55       50
4  Lawrence     40       76
5    Louise     50       80

#### Filtering and Selecting and Sorting

In [136]:
football_stats = pd.read_csv("Euro_2012_stats_TEAM.csv")

In [137]:
football_stats

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

In [139]:
football_stats.columns

Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)',
       'Hit Woodwork', 'Penalty goals', 'Penalties not scored', 'Headed goals',
       'Passes', 'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
       'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
       'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
       'Offsides', 'Yellow Cards', 'Red Cards', 'Subs on', 'Subs off',
       'Players Used'],
      dtype='object')

In [141]:
pd.set_option('display.max_columns',None)

In [142]:
football_stats

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed,Passing Accuracy,Touches,Crosses,Dribbles,Corners Taken,Tackles,Clearances,Interceptions,Clearances off line,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,2,1076,828,76.9%,1706,60,42,14,49,83,56,NaN,0,10,3,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,0,1565,1223,78.1%,2358,46,68,21,62,98,37,2.0,1,10,6,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,3,1298,1082,83.3%,1873,43,32,16,40,61,59,0.0,1,10,5,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,3,1488,1200,80.6%,2440,58,60,16,86,106,72,1.0,2,29,3,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,0,2066,1803,87.2%,2909,55,76,28,71,76,58,0.0,1,7,5,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,2,2774,2427,87.4%,3761,101,60,35,91,73,69,0.0,1,11,6,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,0,1187,911,76.7%,2016,52,53,10,65,123,87,0.0,1,23,7,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,2,3016,2531,83.9%,4363,75,75,30,98,137,136,1.0,2,18,7,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,0,1556,1381,88.7%,2163,50,49,22,34,41,41,0.0,0,9,5,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,1,1059,852,80.4%,1724,55,39,14,67,87,62,0.0,0,8,3,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,2,1891,1461,77.2%,2958,91,64,41,78,92,86,0.0,2,11,4,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,1,851,606,71.2%,1433,43,18,8,45,78,43,1.0,0,23,9,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,1,1602,1345,83.9%,2278,40,40,21,65,74,58,0.0,0,8,3,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,2,4317,3820,88.4%,5585,69,106,44,122,102,79,0.0,5,8,1,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,1,1192,965,80.9%,1806,44,29,7,56,54,45,0.0,1,12,5,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,2,1276,1043,81.7%,1894,33,26,18,65,97,29,0.0,0,4,4,13,76.5%,48,31,4,5,0,9,9,18