### Height Prediction
- Step 1 : Import Necessary Libraries
- Step 2 : Import Data
- Step 3 : Data Understanding
- Step 4 : Data Preparation

In [1]:
import pandas as pd #Import Necessary Libraries

In [5]:
weight_height=pd.read_csv("weight-height.csv") #import Data, Data Understanding
weight_height

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [7]:
weight.isna().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [6]:
 weight_height.dtypes

Gender     object
Height    float64
Weight    float64
dtype: object

In [ ]:
#Feature Engineering - Concepts of whatever you do with features