In [1]:
import pandas as pd

In [2]:
employee_data=pd.read_csv("employee_data.csv")

In [3]:
employee_data

      Name   Age Department   Salary   Join_Date
0   Rajesh  29.0        Ops  60000.0  21-05-2023
1    Nasir  31.0    IT Tech      NaN  12-11-2020
2  Mathiew   NaN    Support  58000.0  15-01-2025
3  Gilbert  29.0        Ops  60000.0  21-05-2021
4    Kevin  28.0    Support  61000.0  30-07-2024
5    Navin  35.0    Support  72000.0  19-08-2023
6      NaN  40.0         IT  64000.0  10-09-2022
7    Nasir  31.0    IT Tech      NaN  12-11-2020

In [4]:
#read_csv : you can't import multiple sheets using this function, you need to have seperate csv file
#read_excel: you can import multiple sheets using this function

In [5]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
pd.read_excel("Project-Management-Sample-Data.xlsx")

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,Excel Sample Data,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Project Management Data,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Project Name,Task Name,Assigned to,Start Date,Days Required,End Date,Progress
5,NaN,Marketing,Market Research,Alice,2024-01-01 00:00:00,13,2024-01-14 00:00:00,0.78
6,NaN,Marketing,Content Creation,Bob,2024-01-14 00:00:00,14,2024-01-28 00:00:00,1
7,NaN,Marketing,Social Media Planning,Charlie,2024-01-28 00:00:00,22,2024-02-19 00:00:00,0.45
8,NaN,Marketing,Campaign Analysis,Daisy,2024-02-18 00:00:00,25,2024-03-14 00:00:00,0
9,NaN,Product Dev,Prototype Development,Ethan,2024-01-02 00:00:00,18,2024-01-20 00:00:00,1
10,NaN,Product Dev,Quality Assurance,Fiona,2024-01-20 00:00:00,10,2024-01-30 00:00:00,0.78
11,NaN,Product Dev,User Interface Design,Gabriel,2024-02-04 00:00:00,25,2024-02-29 00:00:00,0
12,NaN,Customer Svc,Service Improvement,Hannah,2024-02-01 00:00:00,22,2024-02-23 00:00:00,1
13,NaN,Customer Svc,Ticket Resolution,Ian,2024-02-24 00:00:00,25,2024-03-20 00:00:00,1
14,NaN,Customer Svc,Customer Feedback,Julia,2024-03-21 00:00:00,30,2024-04-20 00:00:00,0
15,NaN,Financial,Budget Analysis,Kevin,2024-02-02 00:00:00,22,2024-02-24 00:00:00,0.1
16,NaN,Financial,Financial Reporting,Mark,2024-02-13 00:00:00,21,2024-02-09 00:00:00,0.78
17,NaN,Financial,Investment Planning,Mark,2024-03-19 00:00:00,25,2024-04-13 00:00:00,1
18,NaN,Research,Market Trends Analysis,Nathan,2024-01-02 00:00:00,23,2024-01-25 00:00:00,0.5
19,NaN,Research,Data Collection,Olivia,2024-01-26 00:00:00,32,2024-02-27 00:00:00,0
20,NaN,Research,Research Paper Writing,Peter,2024-02-28 00:00:00,27,2024-03-26 00:00:00,0
21,NaN,Development,Software Development,Quinn,2024-01-02 00:00:00,36,2024-02-07 00:00:00,1
22,NaN,Development,Feature Enhancement,Rachel,2024-02-08 00:00:00,34,2024-03-13 00:00:00,0
23,NaN,Development,Code Review,Sam,2024-03-14 00:00:00,30,2024-04-13 00:00:00,0
24,NaN,Production,Manufacturing,Tim,2024-01-03 00:00:00,47,2024-02-19 00:00:00,0.3
25,NaN,Production,Quality Control,Ursula,2024-02-17 00:00:00,27,2024-03-15 00:00:00,0
26,NaN,Production,Packaging Design,Victor,2024-03-14 00:00:00,22,2024-04-05 00:00:00,0
27,NaN,Sales,Lead Generation,Wendy,2024-01-03 00:00:00,60,2024-03-03 00:00:00,0.7
28,NaN,Sales,Client Meetings,Xavier,2024-01-06 00:00:00,20,2024-01-26 00:00:00,0.78
29,NaN,Sales,Contract Negotiation,Yvette,2024-02-03 00:00:00,35,2024-03-09 00:00:00,0
30,NaN,Support,Technical Support,Zoe,2024-01-01 00:00:00,25,2024-01-26 00:00:00,1
31,NaN,Support,Bug Fixes,Aaron,2024-01-27 00:00:00,31,2024-02-27 00:00:00,1
32,NaN,Support,Software Updates,Bella,2024-03-02 00:00:00,22,2024-03-24 00:00:00,0
33,NaN,Operations,Process Optimization,Calvin,2024-01-03 00:00:00,30,2024-02-02 00:00:00,0.4
34,NaN,Operations,Inventory Management,Diane,2024-02-03 00:00:00,25,2024-02-28 00:00:00,0
35,NaN,Operations,Facility Maintenance,Edward,2024-02-29 00:00:00,20,2024-03-20 00:00:00,0
36,NaN,Consulting,Strategic Planning,Fiona,2024-01-02 00:00:00,35,2024-02-06 00:00:00,0.6
37,NaN,Consulting,Market Expansion,Gary,2024-02-02 00:00:00,32,2024-03-05 00:00:00,0
38,NaN,Consulting,Client Advisory,Helen,2024-03-06 00:00:00,25,2024-03-31 00:00:00,0
39,NaN,Training,Employee Training,Isaac,2024-01-04 00:00:00,27,2024-01-31 00:00:00,0.8
40,NaN,Training,Certification Programs,Jane,2024-01-28 00:00:00,30,2024-02-27 00:00:00,0
41,NaN,Training,Skill Development,Kyle,2024-02-28 00:00:00,22,2024-03-21 00:00:00,0
42,NaN,Events,Event Planning,Laura,2024-01-03 00:00:00,25,2024-01-28 00:00:00,0.3
43,NaN,Events,Conference Management,Mike,2024-02-03 00:00:00,20,2024-02-23 00:00:00,0
44,NaN,Events,Sponsorship Coordinatio,n Nancy,2024-02-24 00:00:00,35,2024-03-30 00:00:00,0
45,NaN,Logistics,Supply Chain Management,Oscar,2024-01-03 00:00:00,25,2024-01-28 00:00:00,0.5
46,NaN,Logistics,Transportation Planning,Patricia,2024-01-29 00:00:00,30,2024-02-28 00:00:00,1
47,NaN,Logistics,Inventory Optimization,Quentin,2024-03-29 00:00:00,20,2024-04-18 00:00:00,0
48,NaN,Engineering,Product Design,Rachel,2024-01-02 00:00:00,25,2024-01-27 00:00:00,0.2
49,NaN,Engineering,System Integration,Sam,2024-02-02 00:00:00,22,2024-02-24 00:00:00,0
50,NaN,Engineering,Prototype Testing,Tom,2024-02-23 00:00:00,27,2024-03-21 00:00:00,0

In [11]:
employee_data=pd.read_csv("employee_data.csv")

In [12]:
employee_data

      Name   Age Department   Salary   Join_Date
0   Rajesh  29.0        Ops  60000.0  21-05-2023
1    Nasir  31.0    IT Tech      NaN  12-11-2020
2  Mathiew   NaN    Support  58000.0  15-01-2025
3  Gilbert  29.0        Ops  60000.0  21-05-2021
4    Kevin  28.0    Support  61000.0  30-07-2024
5    Navin  35.0    Support  72000.0  19-08-2023
6      NaN  40.0         IT  64000.0  10-09-2022
7    Nasir  31.0    IT Tech      NaN  12-11-2020

In [13]:
employee_data.drop_duplicates(inplace=True)

In [14]:
employee_data

      Name   Age Department   Salary   Join_Date
0   Rajesh  29.0        Ops  60000.0  21-05-2023
1    Nasir  31.0    IT Tech      NaN  12-11-2020
2  Mathiew   NaN    Support  58000.0  15-01-2025
3  Gilbert  29.0        Ops  60000.0  21-05-2021
4    Kevin  28.0    Support  61000.0  30-07-2024
5    Navin  35.0    Support  72000.0  19-08-2023
6      NaN  40.0         IT  64000.0  10-09-2022

In [15]:
employee_data.isna().sum()

Name          1
Age           1
Department    0
Salary        1
Join_Date     0
dtype: int64

In [16]:
employee_data["Department"].unique()

array(['Ops', 'IT Tech', 'Support', 'IT'], dtype=object)

In [20]:
employee_data[employee_data["Department"] == "Support"]

      Name   Age Department   Salary   Join_Date
2  Mathiew   NaN    Support  58000.0  15-01-2025
4    Kevin  28.0    Support  61000.0  30-07-2024
5    Navin  35.0    Support  72000.0  19-08-2023

In [21]:
employee_data[employee_data["Department"] == "IT Tech"]

    Name   Age Department  Salary   Join_Date
1  Nasir  31.0    IT Tech     NaN  12-11-2020

In [22]:
employee_data[employee_data["Department"] == "Ops"]

      Name   Age Department   Salary   Join_Date
0   Rajesh  29.0        Ops  60000.0  21-05-2023
3  Gilbert  29.0        Ops  60000.0  21-05-2021

In [23]:
employee_data[employee_data["Department"] == "IT"]

  Name   Age Department   Salary   Join_Date
6  NaN  40.0         IT  64000.0  10-09-2022

In [28]:
filter_data=employee_data[(employee_data["Department"] == "IT Tech") & (employee_data["Salary"].isna())]